<% proj = ::Juicy::Project.where(name: project).first %>
<% if proj %>
  <h3><em><%= proj.name %></em></h3>
  <% ::Juicy::Build.where(parent: proj.name).sort.each_with_index do |build, idx| %>
    <div class="accordion" id="accordion<%= idx %>">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= idx+1 %>" href="#collapse_<%= idx %>">
          <%= build.start_time %>
        </a>
      </div>
      <div id="collapse_<%= idx %>" class="accordion-body collapse in">
        <div class="accordion-inner">
          <%= build.output if build.respond_to? :output %>
        </div>
      </div>
    </div>
  <% end %>
  <script>$(".collapse").collapse()</script>
<% else %>
  No such project.
<% end %>
