<!doctype html>
<html>
  <head>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/styles/juicy.css" rel="stylesheet">
    <% if @page # This will 404 a ton of page XXX %>
      <link href="/styles/<%= @page %>.css" rel="stylesheet">
    <% end %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js"></script>
    <title>Juicy</title>
    <% if @redirect_to %>
      <meta http-equiv="Refresh" content="0; url=<%= URI.escape(@redirect_to) %>" />
    <% end %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%= "active" if @page == :index %>"><a class="brand" href="/">Juicy</a></li>
              <li class="<%= "active" if @page == :builds && @action == :new %>"><a href="/builds/new">New Build</a></li>
              <li class="<%= "active" if @page == :about %>"><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
