<div class="accordion-heading">
  <a class="accordion-toggle <%= build.heading_color %>" data-toggle="collapse" data-parent="#accordion<%= idx+1 %>" href="#collapse_<%= idx %>">
    <%= build.display_title %>&nbsp;<% build[:warnings].each do |warning| %><span class="label label-important"><%= warning %></span><% end %>
  </a>
</div>
<div id="collapse_<%= idx %>" class="accordion-body collapse in">
  <div class="row">
    <div class="span8">
      <div>
        <a href="<%= build_url_for(build) %>">Link to this build</a>
        <span><%= build.time_elapsed %></span>
      </div>
      <div class="accordion-inner build-output">
<%= erb(:"partials/builds/output", :locals => { :build => build }) %>
      </div>
    </div>
    <div class="span4">
      <div class="build-sidebar">
<%= erb(:"partials/builds/sidebar", :locals => { :build => build }) %>
      </div>
      <div class="debug-output">
<%= erb(:"partials/builds/debug", :locals => { :build => build }) %>
      </div>
    </div>
  </div>
</div>
