<div class="accordion-heading">
  <a class="accordion-toggle <%= build.heading_color %>" data-toggle="collapse" data-parent="#accordion<%= idx+1 %>" href="#collapse_<%= idx %>">
    <%= build.display_title %>&nbsp;<% build[:warnings].each do |warning| %><span class="label label-important"><%= warning %></span><% end %>
    <% if build[:status] == :started %>
      <div class="bowlG pull-right"><div class="bowl_ringG"><div class="ball_holderG"><div class="ballG"></div></div></div></div>
    <% end %>
  </a>
</div>
<div id="collapse_<%= idx %>" class="accordion-body collapse">
  <div class="row-fluid" style="padding-top:20px">
    <div class="span8">
      <%= erb(:"partials/builds/output", :locals => { :build => build }) %>
    </div>
    <div class="span4"><%= erb(:"partials/builds/sidebar", :locals => { :build => build }) %><%= erb(:"partials/builds/debug", :locals => { :build => build }) %></div>
  </div>
</div>
