<script>
  $(document).ready(function() {
    $(".collapse").collapse();
  });
</script>
<div class="row-fluid">
  <!-- Pagination -->
  <div class="span1">
    <% pages.times.with_index do |page| %>
      <a href="?page=<%= page %>" class="<%= "active" if page == params[:page] %>"><%= page %></a>
    <% end %>
  </div>
  <!-- Main contents -->
  <div class="span11">
    <!-- Create a new build -->
    <h3><em><%= project.name %></em> - <a href="/builds/new?project=<%= project.name %>"><em>New Build</em></a></h3>
    <!-- Build history -->
    <% builds.each_with_index do |build, idx| %>
      <div class="accordion" id="accordion<%= idx %>">
        <!-- Build heading/toggle -->
        <div class="accordion-heading">
          <a class="accordion-toggle <%= build.heading_color %>" data-toggle="collapse" data-parent="#accordion<%= idx+1 %>" href="#collapse_<%= idx %>">
            <%= build.display_title %>&nbsp;<% build[:warnings].each do |warning| %><span class="label label-important"><%= warning %></span><% end %>
          </a>
        </div>
        <!-- Build content -->
        <div id="collapse_<%= idx %>" class="accordion-body collapse in">
          <!-- Link to build -->
          <a href="<%= build_url_for(build) %>">Link to this build</a>
          <div class="row">
            <!-- Build Output -->
            <div class="span7 accordion-inner build-output"><%= build.output if build.respond_to? :output %></div>
            <!-- Build Environment -->
            <div class="span3"><%= erb(:"partials/builds/debug", :locals => { :build => build }) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
