
<div class="row-fluid">
  <!-- Pagination -->
  <div class="span1 pagination-bloops">
    <% pages.times.with_index do |page| %>
      <a href="?page=<%= page %>" class="bloop<%= " active" if page == params[:page] %>" style="height: <%= 538.0 / pages %>px;"><%= page %></a>
    <% end %>
  </div>
  <!-- Main contents -->
  <div class="span11">
    <!-- Create a new build -->
    <h3 class="project-title"><a href="<%= build_url_for(project) %>"><%= project.name %></a><a class="btn pull-right" href="/builds/new?project=<%= project.name %>">New Build</a></h3>
    <!-- Build history -->
    <% builds.each_with_index do |build, idx| %>
      <div class="accordion" id="accordion<%= idx %>">
        <%= erb(:"partials/builds/show", :locals => { :build => build, :idx => idx }) %>
      </div>
    <% end %>
  </div>
</div>
