<script>
  function display(el) {
    el = this;
    el.style["display"] = null;
  }
  $(document).ready(function() {
    $(".collapse").collapse();
    $('.build-output').each(display);
    $('.debug-output').each(display);
    $('.build-link').each(display);
  });
</script>
<h3 class="block-header"><em><%= project.name %></em> - <a href="/builds/new?project=<%= project.name %>"><em>New Build</em></a></h3>

<div class="row">

  <!-- Pagination bloops -->
  <div class="span1">
    <ul class="bloops">
      <% pages.times.with_index do |page| %>
      <li>
        <a href="?page=<%= page %>" class="<%= "in" unless page == params[:page] %>active">&nbsp;</a>
      </li>
      <% end %>
    </ul>
  </div>

  <!-- Main contents -->
  <div class="span11">
    <% builds.each_with_index do |build, idx| %>
      <div class="accordion" id="accordion<%= idx %>">
        <div class="accordion-heading">
          <a class="accordion-toggle <%= build.heading_color %>" data-toggle="collapse" data-parent="#accordion<%= idx+1 %>" href="#collapse_<%= idx %>">
            <%= build.display_title %>&nbsp;<% build[:warnings].each do |warning| %><span class="label label-important"><%= warning %></span><% end %>
          </a>
        </div>
        <div id="collapse_<%= idx %>" class="accordion-body collapse in">
          <div class="row-fluid">
            <div class="span8">
              <div>
                <a class="build-link" href="<%= build_url_for(build) %>" style="display: none;">Link to this build</a>
              </div>
              <div class="accordion-inner build-output" style="display: none;">
                <%= build.output if build.respond_to? :output %>
              </div>
            </div>
            <div class="span4 debug-output" style="display: none;">
              <%= erb(:"partials/builds/debug", :locals => { :build => build }) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
