<script>
  $(document).ready(function() {
    $(".collapse").collapse();
  });
</script>
<h3><em><%= project.name %></em> - <a href="/builds/new?project=<%= project.name %>"><em>New Build</em></a></h3>
<ul class="pager">
  <ul class="pager">
    <% if pages[:prev] %>
    <li class="previous">
      <a href="/builds/<%=project.name%>/list?page=<%=pages[:prev]%>"><strong>prev</strong></a>
    </li>
    <% end %>
    <% if pages[:next] %>
    <li class="next">
      <a href="/builds/<%=project.name%>/list?page=<%=pages[:next]%>"><strong>next</strong></a>
    </li>
    <% end %>
  </ul>
<% builds.each_with_index do |build, idx| %>
  <div class="accordion" id="accordion<%= idx %>">
    <div class="accordion-heading">
      <a class="accordion-toggle <%= build.heading_color %>" data-toggle="collapse" data-parent="#accordion<%= idx+1 %>" href="#collapse_<%= idx %>">
        <%= build.display_title %>&nbsp;<% build[:warnings].each do |warning| %><span class="label label-important"><%= warning %></span><% end %>
      </a>
    </div>
    <div id="collapse_<%= idx %>" class="accordion-body collapse in">
      <div class="row">
        <div class="span8">
          <div>
            <a href="<%= build_url_for(build) %>">Link to this build</a>
            <span><%= build.time_elapsed %></span>
          </div>
          <div class="accordion-inner build-output">
<%= erb(:"partials/builds/output", :locals => { :build => build }) %>
          </div>
        </div>
        <div class="span4 debug-output">
          <%= erb(:"partials/builds/debug", :locals => { :build => build }) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</ul>
