<h3><em><%= project.name %></em> - <a href="/builds/new?project=<%= project.name %>"><em>New Build</em></a></h3>
<div class="accordion" id="accordion0">
  <div class="accordion-heading">
    <a class="accordion-toggle <%= build.heading_color %>" data-toggle="collapse" data-parent="#accordion0" href="#collapse_0">
      <%= build.create_time %>&nbsp;<% build[:warnings].each do |warning| %><span class="label label-important"><%= warning %></span><% end %>
    </a>
  </div>
  <div id="collapse_0" class="accordion-body collapse in">
    <div class="row">
      <div class="span8">
        <div>
          <a href="/builds/<%= project.name %>/show/<%= build[:_id] %>">Link to this build</a>
        </div>
        <div class="accordion-inner build-output">
          <%= build.output if build.respond_to? :output %>
        </div>
      </div>
      <div class="span4 debug-bar">
        <%= erb(:"partials/builds/debug", :locals => { :build => build }) %>
      </div>
    </div>
  </div>
</div>
